/node_modules

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build files
build/
dist/

# Environment variables
.env

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
